
<div class="container">
    <input type="text" class="form-control" [(ngModel)]="searchText">
    <table class="table table-striped">
        <thead>
            <td class="display-flex" *ngFor="let column of columnList"> {{ column.columnName }}
            <ng-container *ngIf="column.isSortable">
            <i class="fa fa-arrow-up" (click)="sort('asc', column)"></i>
            <i class="fa fa-arrow-down" (click)="sort('dsc', column)"></i>
            </ng-container>    
            </td>
            <!-- <th>ID</th>
            <th>Name</th>
            <th>Username</th> -->
        </thead>
        <tbody>
            <tr *ngFor="let rowData of dataToShow | search: searchText">
                <td *ngFor="let column of columnList">
                    <ng-container *ngIf="!column.action && column.columnName !== 'status'">
                        {{ rowData[column.columnName] }}
                    </ng-container>
                    <ng-container *ngIf="column.action">
                        <span *ngIf="column.type =='button'">
                            <button (click)="buttonEvent(rowData, column.action)"> {{ column.columnName }} </button>
                        </span>
                    </ng-container>
                    <ng-container *ngIf="column.columnName=='status'">
                        <span class="badge" [class.bg-primary]="rowData.status == 'NEW'" [class.bg-secondary]="rowData.status == 'UPDATED'"> {{ rowData.status }} </span>
                    </ng-container>
                     </td>
                <!-- <td> {{ user.username }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.mobile }} </td>
                <td> <button (click)="EditUser(user)">Edit</button> </td>
                <td><button (click)="deleteuser(user)">delete</button></td> -->
            </tr>
        </tbody>
    </table>
    <div class="display-flex">
        <button class="m-2 btn btn-primary" (click)="prevPage()" [disabled]="!currentPage">Prev</button>
        <div class="display-flex">
            <a *ngFor="let page of pagesArray; index as i" class="btn btn-primary m-2" (click)="goToPage(page, i)"> {{ page }} </a>
        </div>
        <button class="m-2 btn btn-primary" (click)="nextPage()">Next</button>
    </div>
</div>